body {
  background-color: lightgrey;
}

header {
  background-color: green;
  color: white;
  text-align: center;
  padding: 25px;
}

nav {
  background-color: darkgreen;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  margin: 12px;
}

main {
  background-color: white;
  margin: 20px;
  padding: 20px;
}

footer {
  background-color: darkgreen;
  color: white;
  text-align: center;
  padding: 15px;
}
